@model List<project.Models.ListProperty>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>filter page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inria+Sans%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C600" />
    <link rel="stylesheet" href="./styles/filter-page.css" />
</head>
<body>
    <div class="filter-page-pjh">
        <div class="auto-group-8udw-ZxB">
            <div class="filter-WsR">
                <p class="filter-orX">Filter</p>
                <div class="auto-group-wrud-vAT">
                    <div class="auto-group-z4ah-FTd">
                        <div class="auto-group-pwev-xcw">Below 5K</div>
                        <div class="auto-group-d6nh-dDH">5K - 10K</div>
                        <div class="auto-group-2fw5-hyq">10K - 15K</div>
                    </div>
                    <div class="auto-group-chbb-QNT">
                        <div class="auto-group-qaqb-KVR">Fully Furnished</div>
                        <div class="auto-group-yyx7-Q15">Semi Furnished</div>
                        <div class="auto-group-zhuo-Haf">Unfurnished</div>
                    </div>
                    <div class="line-4-MqR">
                    </div>
                    <div class="auto-group-kf4q-VRq">
                        <div class="auto-group-kiud-pU7">Studio / 1 RK / 1 BHK</div>
                        <div class="auto-group-btwb-7CK">2 BHK</div>
                        <div class="auto-group-5pxf-bNP">3 BHK</div>
                    </div>
                    <div class="auto-group-cxvh-VCs">
                        <div class="auto-group-erkm-cYP">15K - 20K</div>
                        <div class="auto-group-vcjw-JRD">20K - 30K</div>
                        <div class="auto-group-pyqp-atX">Above 30K</div>
                    </div>
                    <div class="line-3-ssd">
                    </div>
                    <div class="auto-group-poro-cKR">
                        <div class="auto-group-yn7x-jew">Boys</div>
                        <div class="auto-group-rjms-E5u">Girls</div>
                        <div class="auto-group-ieaq-W3R">Family</div>
                        <div class="auto-group-unww-aJB">
                            <div class="rectangle-9643-Whd">
                            </div>
                            <div class="rectangle-9645-SrB">
                            </div>
                            <p class="any-ahV">Any</p>
                        </div>
                    </div>
                    <div class="auto-group-blvb-V3m">4+ BHK</div>
                    <p class="bedrooms--AQo">Bedrooms:</p>
                    <p class="furnishing--fcT">Furnishing:</p>
                    <p class="tenant-type--yt3">Tenant Type:</p>
                    <div class="line-2-u11">
                    </div>
                    <p class="budget--2bR">Budget:</p>
                </div>
            </div>
             <div class="property1-uQK">
                <div class="auto-group-c2y5-pnB">
                    <img class="image-6-Mn7" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/a4ee83123002c4f3ff7931e6bc806e8b25b4dd09041db896221d5750bb925341?apiKey=6be4bae03eb840ae9f1fe19d6134013d&" />
                </div>
                <div class="auto-group-ajhp-tX9">
                    <p class="deposit-4-months-rent-Rmy">₹24,000 Deposit: 4 months rent</p>
                    <p class="bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-KcT">
                        <span class="bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-KcT-sub-0">2 BHK Independent Apartment For Rent In Btm Layout Stage 1, Bengalur</span>
                        <span class="bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-KcT-sub-1">u</span>
                    </p>
                    <div class="auto-group-gz7x-9V1">
                        <p class="location-btm-layout-stage-1-reK">
                            Location
                            <br />
                            Btm Layout Stage 1
                        </p>
                        <div class="line-3-kjh">
                        </div>
                        <p class="area-600-sqft-5my">
                            Area
                            <br />
                            600 sq.ft
                        </p>
                        <img class="line-4-ayd" src="REPLACE_IMAGE:130:142" />
                        <p class="furnishing-semifurnished-j5q">
                            Furnishing
                            <br />
                            SemiFurnished
                        </p>
                        <img class="line-14-EYP" src="REPLACE_IMAGE:130:143" />
                        <p class="construction-2023-BCj">
                            Construction
                            <br />
                            2023
                        </p>
                    </div>
                    <p class="this-is-an-excellent-2-bhk-house-for-rent-in-btm-layout-stage-1-bangalore-6qV">This is an excellent 2 BHK house for rent in BTM Layout Stage 1, bangalore.. </p>
                    <div class="auto-group-oexm-yuH">VISIT FOR FREE</div>
                </div>
            </div> 

            @*1st property*@

       @foreach (var property in Model)
            {
                <div class="property1-Sns">
                    <img class="image-5-Zcb" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&" />
                <div class="auto-group-iy9o-sNP">
                    <p class="deposit-4-months-rent-pHd">@property.OwnerName</p>
                    <p class="bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-XSw">
                        <span class="bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-XSw-sub-0">@property.HouseType Independent Apartment For Rent In Btm Layout Stage 1, Bengalur</span>
                        <span class="bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-XSw-sub-1">u</span>
                    </p>
                    <div class="auto-group-x1mp-1WX">
                        <p class="location-btm-layout-stage-1-XUs">
                            Location
                            <br />
                            @property.Address
                        </p>
                        <div class="line-3-Rq9">
                        </div>
                        <p class="area-600-sqft-xaB">
                            Area
                            <br />
                            @property.Area
                        </p>
                        <img class="line-4-sBM" src="REPLACE_IMAGE:102:8" />
                        <p class="furnishing-semifurnished-DFD">
                            Furnishing
                            <br />
                            @property.Type
                        </p>
                        <img class="line-14-vQX" src="REPLACE_IMAGE:102:9" />
                        <p class="construction-2023-4Wj">
                            Construction
                            <br />
                            2023
                        </p>
                    </div>
                    <p class="this-is-an-excellent-2-bhk-house-for-rent-in-btm-layout-stage-1-bangalore-ytb">This is an excellent 2 BHK house for rent in BTM Layout Stage 1, bangalore.. </p>
                    <div class="auto-group-bv1f-5Rq">
                        <div class="auto-group-ndnm-14b">
                            <a asp-controller="signupController1" asp-action="propertyinfo" class="btn btn-primary">
                                VISIT FOR FREE
                            </a>
                        </div>
                        <img class="thunder-2-tu5" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&" />
                    </div>
                </div>
                
            </div>
            }
            <div class="house4-DgT">
                <img class="image-11-9a7" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/f3875de80207a1464224e16be2d5339c50bb5aa628ba4dcd934e4cf2501a505a?apiKey=6be4bae03eb840ae9f1fe19d6134013d&" />
                <div class="auto-group-a6p5-G8w">
                    <p class="bed-deposit-2-months-rent-oPm">₹4,200 / bed  Deposit: 2 months rent</p>
                    <p class="bhk-independent-house-for-rent-in-bengaluru-JrK">3 BHK Independent House For Rent In , Bengaluru</p>
                    <div class="auto-group-hwzo-QeT">
                        <p class="location-vijaya-nagar-stage-2-8aT">
                            Location
                            <br />
                            Vijaya Nagar Stage 2
                        </p>
                        <p class="area-900-sqft-EtP">
                            Area
                            <br />
                            900 sq.ft
                        </p>
                        <img class="line-16-kLw" src="REPLACE_IMAGE:147:16" />
                        <p class="furnishing-fullyfurnished-58K">
                            Furnishing
                            <br />
                            FullyFurnished
                        </p>
                        <img class="line-17-zFH" src="REPLACE_IMAGE:147:17" />
                        <p class="construction-2016-86b">
                            Construction
                            <br />
                            2016
                        </p>
                    </div>
                    <p class="this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M">
                        <span class="this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M-sub-0">This is an excellent 3 BHK house for rent in </span>
                        <span class="this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M-sub-1">Vijaya Nagar Stage 2</span>
                        <span class="this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M-sub-2"> , bangalore.. </span>
                    </p>
                    <div class="auto-group-mrjs-M7m">
                        <div class="auto-group-3n4d-sbu">
                            <a asp-controller="signupController1" asp-action="propertyinfo" class="btn btn-primary">
                                VISIT FOR FREE
                            </a>
                        </div>
                        <img class="thunder-1-xdM" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/d6166221764393bb3bc053c86aa7a708c52c8d36d82b2c7980f8535ffa492fa6?apiKey=6be4bae03eb840ae9f1fe19d6134013d&" />

                    </div>
                </div>
            </div> 
            @*2 property*@
             <div class="rectangle-9720-Hfd">
            </div>
            <div class="house2-dDh">
                <img class="image-5-9hq" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/9765ff80fd37ad15d9d81fe1a1c2d9c932e0f8324c6cb91981b712b6fd2cb2c7?apiKey=6be4bae03eb840ae9f1fe19d6134013d&" />
                <div class="auto-group-n5lz-euV">
                    <p class="bed-deposit-2-months-rent-bpj">₹4,200 / bed  Deposit: 2 months rent</p>
                    <p class="bhk-independent-house-for-rent-in-bengaluru-Wgo">3 BHK Independent House For Rent In , Bengaluru</p>
                    <div class="auto-group-8lnh-pSb">
                        <p class="location-vijaya-nagar-stage-2-Xbu">
                            Location
                            <br />
                            Vijaya Nagar Stage 2
                        </p>
                        <p class="area-900-sqft-ctF">
                            Area
                            <br />
                            900 sq.ft
                        </p>
                        <img class="line-4-Knf" src="REPLACE_IMAGE:130:126" />
                        <p class="furnishing-fullyfurnished-FwD">
                            Furnishing
                            <br />
                            FullyFurnished
                        </p>
                        <img class="line-14-P1q" src="REPLACE_IMAGE:130:127" />
                        <p class="construction-2016-JuV">
                            Construction
                            <br />
                            2016
                        </p>
                    </div>
                    <p class="this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou">
                        <span class="this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou-sub-0">This is an excellent 3 BHK house for rent in </span>
                        <span class="this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou-sub-1">Vijaya Nagar Stage 2</span>
                        <span class="this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou-sub-2"> , bangalore.. </span>
                    </p>
                    <div class="auto-group-rryq-9od">
                         <a asp-controller="signupController1" asp-action="propertyinfo" class="btn btn-primary">
                            VISIT FOR FREE
                        </a> 
                    </div>
                </div>
            </div> 

</body>
<style>

    html {
        font-size: 62.5%;
    }

    * {
        margin: 0;
        padding: 0;
    }

    ul, li {
        list-style: none;
    }

    input {
        border: none;
    }

    body {
        width: 151.2rem;
    }

    .filter-page-pjh {
        width: 108.5%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }

        .filter-page-pjh .auto-group-8udw-ZxB {
            width: 100%;
            height: 125.5rem;
            position: relative;
            flex-shrink: 0;
            margin-top: 0;
        }

            .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR {
                box-sizing: border-box;
                padding: 0rem 0rem 21.617rem 5.041rem;
                width: 61.9169rem;
                height: 118.5rem;
                position: absolute;
                left: 0rem;
                top: 0rem;
                background-color: #dfe8f3;
            }

                .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .filter-orX {
                    margin: 0rem 0rem 3.33rem 1.244rem;
                    font-size: 4rem;
                    font-weight: 400;
                    line-height: 1.1975;
                    color: #000000;
                    font-family: Inria Sans, 'Source Sans Pro';
                    white-space: nowrap;
                }

                .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT {
                    width: 100%;
                    height: 75.5425rem;
                    position: relative;
                    border: solid 0.3rem #000000;
                    box-sizing: border-box;
                    background-color: #dfe8f3;
                    border-radius: 1rem;
                }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-z4ah-FTd {
                        width: 48.6998rem;
                        height: 4.8927rem;
                        position: absolute;
                        left: 1.2624rem;
                        top: 45.7867rem;
                        display: flex;
                        column-gap: 0.7117rem;
                        align-items: center;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-z4ah-FTd .auto-group-pwev-xcw {
                            width: 15.7588rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-z4ah-FTd .auto-group-d6nh-dDH {
                            width: 15.7588rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-z4ah-FTd .auto-group-2fw5-hyq {
                            width: 15.7588rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-chbb-QNT {
                        width: 48.6998rem;
                        height: 5.0884rem;
                        position: absolute;
                        left: 1.2624rem;
                        top: 68.0972rem;
                        display: flex;
                        column-gap: 0.7117rem;
                        align-items: flex-end;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-chbb-QNT .auto-group-qaqb-KVR {
                            margin-bottom: 0.1957rem;
                            width: 15.7588rem;
                            height: 4.8927rem;
                            font-size: 2rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-chbb-QNT .auto-group-yyx7-Q15 {
                            width: 15.7588rem;
                            height: 4.8927rem;
                            font-size: 2rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-chbb-QNT .auto-group-zhuo-Haf {
                            width: 15.7588rem;
                            height: 4.8927rem;
                            font-size: 2rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .line-4-MqR {
                        width: 48.2931rem;
                        height: 0.1rem;
                        position: absolute;
                        left: 1.4657rem;
                        top: 59.4861rem;
                        background-color: #000000;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-kf4q-VRq {
                        width: 48.5982rem;
                        height: 4.8927rem;
                        position: absolute;
                        left: 1.2624rem;
                        top: 23.7698rem;
                        display: flex;
                        align-items: center;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-kf4q-VRq .auto-group-kiud-pU7 {
                            margin-right: 1.0167rem;
                            width: 23.7907rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-kf4q-VRq .auto-group-btwb-7CK {
                            margin-right: 0.61rem;
                            width: 11.5904rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-kf4q-VRq .auto-group-5pxf-bNP {
                            width: 11.5904rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-cxvh-VCs {
                        width: 48.4965rem;
                        height: 4.8927rem;
                        position: absolute;
                        left: 1.4657rem;
                        top: 51.9515rem;
                        display: flex;
                        align-items: center;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-cxvh-VCs .auto-group-erkm-cYP {
                            margin-right: 0.7118rem;
                            width: 15.7588rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-cxvh-VCs .auto-group-vcjw-JRD {
                            margin-right: 0.5083rem;
                            width: 15.7588rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-cxvh-VCs .auto-group-pyqp-atX {
                            width: 15.7588rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .line-3-ssd {
                        width: 48.2931rem;
                        height: 0.1rem;
                        position: absolute;
                        left: 1.4657rem;
                        top: 37.1757rem;
                        background-color: #000000;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-poro-cKR {
                        width: 48.6998rem;
                        height: 4.8927rem;
                        position: absolute;
                        left: 1.2624rem;
                        top: 8.1133rem;
                        display: flex;
                        align-items: center;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-poro-cKR .auto-group-yn7x-jew {
                            margin-right: 0.61rem;
                            width: 11.5904rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(169, 184, 214, 0.75);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-poro-cKR .auto-group-rjms-E5u {
                            margin-right: 1.0167rem;
                            width: 11.5904rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #b6c4de;
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-poro-cKR .auto-group-ieaq-W3R {
                            margin-right: 0.61rem;
                            width: 11.5904rem;
                            height: 100%;
                            font-size: 2.4rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #b6c4de;
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-poro-cKR .auto-group-unww-aJB {
                            width: 11.692rem;
                            height: 100%;
                            position: relative;
                            flex-shrink: 0;
                        }

                            .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-poro-cKR .auto-group-unww-aJB .rectangle-9643-Whd {
                                width: 11.5904rem;
                                height: 4.8927rem;
                                position: absolute;
                                left: 0;
                                top: 0;
                                background-color: #b6c4de;
                                border-radius: 2rem;
                            }

                            .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-poro-cKR .auto-group-unww-aJB .rectangle-9645-SrB {
                                width: 11.5904rem;
                                height: 4.8927rem;
                                position: absolute;
                                left: 0.1017rem;
                                top: 0;
                                background-color: #b6c4de;
                                border-radius: 2rem;
                            }

                            .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-poro-cKR .auto-group-unww-aJB .any-ahV {
                                width: 3.9rem;
                                height: 2.9rem;
                                position: absolute;
                                left: 3.8635rem;
                                top: 0.9785rem;
                                font-size: 2.4rem;
                                font-weight: 400;
                                line-height: 1.1975;
                                color: #000000;
                                font-family: Inria Sans, 'Source Sans Pro';
                                white-space: nowrap;
                            }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .auto-group-blvb-V3m {
                        width: 11.5904rem;
                        height: 4.8927rem;
                        position: absolute;
                        left: 1.2624rem;
                        top: 29.641rem;
                        font-size: 2.4rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(169, 184, 214, 0.75);
                        border-radius: 2rem;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .bedrooms--AQo {
                        width: 11.1rem;
                        height: 2.9rem;
                        position: absolute;
                        left: 1.2624rem;
                        top: 18.5836rem;
                        font-size: 2.4rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .furnishing--fcT {
                        width: 11.6rem;
                        height: 2.9rem;
                        position: absolute;
                        left: 3.0925rem;
                        top: 62.6174rem;
                        font-size: 2.4rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .tenant-type--yt3 {
                        width: 13rem;
                        height: 2.9rem;
                        position: absolute;
                        left: 1.2624rem;
                        top: 2.9271rem;
                        font-size: 2.4rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .line-2-u11 {
                        width: 48.2931rem;
                        height: 0.1rem;
                        position: absolute;
                        left: 1.4657rem;
                        top: 15.648rem;
                        background-color: #000000;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .filter-WsR .auto-group-wrud-vAT .budget--2bR {
                        width: 8rem;
                        height: 2.9rem;
                        position: absolute;
                        left: 2.2791rem;
                        top: 40.6005rem;
                        font-size: 2.4rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

            .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK {
                width: 85.35rem;
                height: 22.1rem;
                position: absolute;
                left: 58.1rem;
                top: 68.4rem;
                display: flex;
                align-items: flex-start;
            }

                .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-c2y5-pnB {
                    margin-right: 3.05rem;
                    box-sizing: border-box;
                    padding: 0.1rem 0.53rem 0rem 5.3rem;
                    flex-shrink: 0;
                }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-c2y5-pnB .image-6-Mn7 {
                        width: 25.17rem;
                        height: 21rem;
                        object-fit: cover;
                        vertical-align: top;
                        border-radius: 1rem;
                    }

                .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 {
                    width: 51.3rem;
                    height: 100%;
                    flex-shrink: 0;
                }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .deposit-4-months-rent-Rmy {
                        margin: 0rem 0rem 1.2rem 0.85rem;
                        font-size: 2.4rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-KcT {
                        margin: 0rem 0rem 1.6rem 0.85rem;
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 1.5;
                        text-decoration-line: underline;
                        color: #000000;
                        font-family: Poppins, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: baseline;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-KcT .bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-KcT-sub-0 {
                            font-size: 1.5rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            text-decoration-line: underline;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-KcT .bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-KcT-sub-1 {
                            font-size: 1.5rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            text-decoration-line: underline;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .auto-group-gz7x-9V1 {
                        margin: 0rem 2.9rem 1.2rem 1.05rem;
                        width: calc(100% - 3.95rem);
                        display: flex;
                        align-items: flex-start;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .auto-group-gz7x-9V1 .location-btm-layout-stage-1-reK {
                            margin: 0.3rem 1.1rem 0rem 0rem;
                            max-width: 15rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Poppins, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .auto-group-gz7x-9V1 .line-3-kjh {
                            margin: 0.1rem 1.1rem 0rem 0rem;
                            width: 0.1rem;
                            height: 0.1rem;
                            background-color: #000000;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .auto-group-gz7x-9V1 .area-600-sqft-5my {
                            margin: 0.7rem 1.8rem 0rem 0rem;
                            max-width: 6.2rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .auto-group-gz7x-9V1 .line-4-ayd {
                            margin-right: 1.3rem;
                            width: 0;
                            height: 5.2rem;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .auto-group-gz7x-9V1 .furnishing-semifurnished-j5q {
                            margin: 0.7rem 0.9rem 0rem 0rem;
                            max-width: 10.4rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .auto-group-gz7x-9V1 .line-14-EYP {
                            margin: 0.1rem 0.55rem 0rem 0rem;
                            width: 0;
                            height: 5.2rem;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .auto-group-gz7x-9V1 .construction-2023-BCj {
                            margin-top: 1rem;
                            max-width: 8.9rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .this-is-an-excellent-2-bhk-house-for-rent-in-btm-layout-stage-1-bangalore-6qV {
                        margin-bottom: 1.1rem;
                        width: 100%;
                        text-align: center;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-uQK .auto-group-ajhp-tX9 .auto-group-oexm-yuH {
                        margin-left: 1.85rem;
                        width: 15rem;
                        height: 5rem;
                        text-align: center;
                        font-size: 1.6rem;
                        font-weight: 600;
                        line-height: 1.5;
                        color: #000000;
                        font-family: Poppins, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(165, 185, 218, 0.8399999738);
                        border-radius: 2rem;
                    }

            .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns {
                width: 79.3051rem;
                height: 22.1rem;
                position: absolute;
                left: 63.4rem;
                top: 18.3rem;
                display: flex;
                align-items: center;
            }

                .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .image-5-Zcb {
                    margin: 0rem 2.835rem 0.5rem 0rem;
                    width: 25.1704rem;
                    height: 21rem;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP {
                    width: 51.3rem;
                    height: 100%;
                    flex-shrink: 0;
                }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .deposit-4-months-rent-pHd {
                        margin: 0rem 0rem 1.2rem 2.589rem;
                        font-size: 2.4rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-XSw {
                        margin: 0rem 0rem 1.6rem 2.589rem;
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 1.5;
                        text-decoration-line: underline;
                        color: #000000;
                        font-family: Poppins, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: baseline;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-XSw .bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-XSw-sub-0 {
                            font-size: 1.5rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            text-decoration-line: underline;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-XSw .bhk-independent-apartment-for-rent-in-btm-layout-stage-1-bengaluru-XSw-sub-1 {
                            font-size: 1.5rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            text-decoration-line: underline;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-x1mp-1WX {
                        margin: 0rem 4.183rem 0rem 2.249rem;
                        width: calc(100% - 6.4315rem);
                        display: flex;
                        align-items: flex-start;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-x1mp-1WX .location-btm-layout-stage-1-XUs {
                            margin: 0.3rem 0.497rem 0rem 0rem;
                            max-width: 15rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Poppins, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-x1mp-1WX .line-3-Rq9 {
                            margin: 0.1rem 2.356rem 0rem 0rem;
                            width: 0.093rem;
                            height: 0.1rem;
                            background-color: #000000;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-x1mp-1WX .area-600-sqft-xaB {
                            margin: 0.7rem 3.006rem 0rem 0rem;
                            max-width: 3.1rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-x1mp-1WX .line-4-sBM {
                            margin-right: 0.8443rem;
                            width: 0;
                            height: 5.2rem;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-x1mp-1WX .furnishing-semifurnished-DFD {
                            margin: 0.7rem 0.472rem 0rem 0rem;
                            max-width: 10.4rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-x1mp-1WX .line-14-vQX {
                            margin: 0.1rem 0.199rem 0rem 0rem;
                            width: 0;
                            height: 5.2rem;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-x1mp-1WX .construction-2023-4Wj {
                            margin-top: 1rem;
                            max-width: 8.9rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .this-is-an-excellent-2-bhk-house-for-rent-in-btm-layout-stage-1-bangalore-ytb {
                        margin-bottom: 1.1rem;
                        width: 100%;
                        text-align: center;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-bv1f-5Rq {
                        margin: 0rem 28.605rem 0rem 1.995rem;
                        width: calc(100% - 30.6rem);
                        height: 5rem;
                        display: flex;
                        align-items: center;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-bv1f-5Rq .auto-group-ndnm-14b {
                            margin-right: 3.7rem;
                            width: 15rem;
                            height: 100%;
                            text-align: center;
                            font-size: 1.5rem;
                            font-weight: 600;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Poppins, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(165, 185, 218, 0.8399999738);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .property1-Sns .auto-group-iy9o-sNP .auto-group-bv1f-5Rq .thunder-2-tu5 {
                            margin-left: -2.907rem;
                            width: 2rem;
                            height: 2.707rem;
                            object-fit: cover;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

            .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT {
                width: 79.35rem;
                height: 23.1rem;
                position: absolute;
                left: 63.4rem;
                top: 94.4rem;
                display: flex;
                align-items: flex-start;
            }

                .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .image-11-9a7 {
                    margin-right: 1.95rem;
                    width: 25.1rem;
                    height: 21rem;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w {
                    margin-top: 1rem;
                    width: 52.3rem;
                    flex-shrink: 0;
                }

                    .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .bed-deposit-2-months-rent-oPm {
                        margin: 0rem 0rem 1.2rem 2.55rem;
                        font-size: 2.4rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .bhk-independent-house-for-rent-in-bengaluru-JrK {
                        margin: 0rem 0rem 1.7rem 2.55rem;
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        text-decoration-line: underline;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .auto-group-hwzo-QeT {
                        margin: 0rem 0.8rem 0.7rem 1.85rem;
                        width: calc(100% - 2.65rem);
                        display: flex;
                        align-items: center;
                        border-top: solid 0.1rem #000000;
                        box-sizing: border-box;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .auto-group-hwzo-QeT .location-vijaya-nagar-stage-2-8aT {
                            margin: 0rem 0.2rem 0.1rem 0rem;
                            max-width: 16.8rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Poppins, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .auto-group-hwzo-QeT .area-900-sqft-EtP {
                            margin: 0rem 3.2rem 0.2rem 0rem;
                            max-width: 6.2rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .auto-group-hwzo-QeT .line-16-kLw {
                            margin: 0rem 1.4rem 0.1rem 0rem;
                            width: 0;
                            height: 5.2rem;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .auto-group-hwzo-QeT .furnishing-fullyfurnished-58K {
                            margin-right: 1rem;
                            max-width: 10.2rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .auto-group-hwzo-QeT .line-17-zFH {
                            margin: 0.1rem 0.55rem 0rem 0rem;
                            width: 0;
                            height: 5.2rem;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .auto-group-hwzo-QeT .construction-2016-86b {
                            margin-top: 0.6rem;
                            max-width: 8.9rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M {
                        margin-bottom: 1.5rem;
                        width: 100%;
                        text-align: center;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: baseline;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M-sub-0 {
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M-sub-1 {
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-d3M-sub-2 {
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .auto-group-mrjs-M7m {
                        margin: 0rem 31.15rem 0rem 3.55rem;
                        width: calc(100% - 34.7rem);
                        height: 5rem;
                        display: flex;
                        align-items: center;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .auto-group-mrjs-M7m .auto-group-3n4d-sbu {
                            margin-right: 0.6rem;
                            width: 15rem;
                            height: 100%;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 600;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Poppins, 'Source Sans Pro';
                            white-space: nowrap;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(165, 185, 218, 0.8399999738);
                            border-radius: 2rem;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house4-DgT .auto-group-a6p5-G8w .auto-group-mrjs-M7m .thunder-1-xdM {
                            margin-top: 0.307rem;
                            width: 2rem;
                            height: 2.707rem;
                            object-fit: cover;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

            .filter-page-pjh .auto-group-8udw-ZxB .rectangle-9720-Hfd {
                width: 4.9rem;
                height: 112.9rem;
                position: absolute;
                left: 0;
                top: 11.4rem;
                background-color: #dfe8f3;
            }

            .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh {
                width: 79.35rem;
                height: 21.3rem;
                position: absolute;
                left: 63.4rem;
                top: 43.4rem;
                display: flex;
                align-items: center;
            }

                .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .image-5-9hq {
                    margin: 0.039rem 1.88rem 0rem 0rem;
                    width: 25.17rem;
                    height: 19.5387rem;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV {
                    width: 52.3rem;
                    height: 100%;
                    flex-shrink: 0;
                }

                    .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .bed-deposit-2-months-rent-bpj {
                        margin: 0rem 0rem 1.2rem 2.55rem;
                        font-size: 2.4rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .bhk-independent-house-for-rent-in-bengaluru-Wgo {
                        margin: 0rem 0rem 1.7rem 2.55rem;
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        text-decoration-line: underline;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .auto-group-8lnh-pSb {
                        margin: 0rem 0.8rem 0.7rem 1.85rem;
                        width: calc(100% - 2.65rem);
                        display: flex;
                        align-items: center;
                        border-top: solid 0.1rem #000000;
                        box-sizing: border-box;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .auto-group-8lnh-pSb .location-vijaya-nagar-stage-2-Xbu {
                            margin: 0rem 0.2rem 0.1rem 0rem;
                            max-width: 16.8rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #000000;
                            font-family: Poppins, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .auto-group-8lnh-pSb .area-900-sqft-ctF {
                            margin: 0rem 3.2rem 0.2rem 0rem;
                            max-width: 6.2rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .auto-group-8lnh-pSb .line-4-Knf {
                            margin: 0rem 1.4rem 0.1rem 0rem;
                            width: 0;
                            height: 5.2rem;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .auto-group-8lnh-pSb .furnishing-fullyfurnished-FwD {
                            margin-right: 1rem;
                            max-width: 10.2rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .auto-group-8lnh-pSb .line-14-P1q {
                            margin: 0.1rem 0.55rem 0rem 0rem;
                            width: 0;
                            height: 5.2rem;
                            object-fit: contain;
                            vertical-align: top;
                            flex-shrink: 0;
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .auto-group-8lnh-pSb .construction-2016-JuV {
                            margin-top: 0.6rem;
                            max-width: 8.9rem;
                            text-align: center;
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou {
                        margin-bottom: 0.7rem;
                        width: 100%;
                        text-align: center;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: baseline;
                    }

                        .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou-sub-0 {
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou-sub-1 {
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 1.1975;
                            color: #000000;
                            font-family: Inria Sans, 'Source Sans Pro';
                        }

                        .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou .this-is-an-excellent-3-bhk-house-for-rent-in-vijaya-nagar-stage-2-bangalore-1ou-sub-2 {
                        }

                    .filter-page-pjh .auto-group-8udw-ZxB .house2-dDh .auto-group-n5lz-euV .auto-group-rryq-9od {
                        margin-left: 3.05rem;
                        width: 15rem;
                        height: 5rem;
                        text-align: center;
                        font-size: 1.6rem;
                        font-weight: 600;
                        line-height: 1.5;
                        color: #000000;
                        font-family: Poppins, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(165, 185, 218, 0.8399999738);
                        border-radius: 2rem;
                    }

            .filter-page-pjh .auto-group-8udw-ZxB .taskbar-E4P {
                box-sizing: border-box;
                padding: 3.5rem 4.3rem 1.481rem 5.3rem;
                width: 151.2rem;
                height: 15.3rem;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;
                background-color: #dfe8f3;
            }

                .filter-page-pjh .auto-group-8udw-ZxB .taskbar-E4P .ellipse-45-SRM {
                    margin: 0rem 82rem 2.219rem 0rem;
                    width: 8.1rem;
                    height: 8.1rem;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url('../assets/ellipse-45-bg-ebH.png');
                    border-radius: 4.05rem;
                    flex-shrink: 0;
                }

                .filter-page-pjh .auto-group-8udw-ZxB .taskbar-E4P .group-1686550877-Xxb {
                    margin: 3.163rem 2.4rem 0rem 0rem;
                    width: 28.1rem;
                    height: 7.1565rem;
                    position: relative;
                    border-radius: 1rem;
                    flex-shrink: 0;
                }

                    .filter-page-pjh .auto-group-8udw-ZxB .taskbar-E4P .group-1686550877-Xxb .rectangle-9661-RYB {
                        width: 28.1rem;
                        height: 7.0331rem;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: #bdcce0;
                        border-radius: 1rem;
                    }

                    .filter-page-pjh .auto-group-8udw-ZxB .taskbar-E4P .group-1686550877-Xxb .list-your-property-xY7 {
                        width: 24.6rem;
                        height: 3.9rem;
                        position: absolute;
                        left: 1.8rem;
                        top: 0.9871rem;
                        font-size: 3.2rem;
                        font-weight: 400;
                        line-height: 1.1975;
                        color: #000000;
                        font-family: Inria Sans, 'Source Sans Pro';
                        white-space: nowrap;
                    }

                .filter-page-pjh .auto-group-8udw-ZxB .taskbar-E4P .sign-up-3pT {
                    margin: 0.4rem 2.8rem 0rem 0rem;
                    font-size: 3.2rem;
                    font-weight: 400;
                    line-height: 1.1975;
                    color: #101112;
                    font-family: Inria Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

                .filter-page-pjh .auto-group-8udw-ZxB .taskbar-E4P .login-xwR {
                    margin-top: 0.4rem;
                    font-size: 3.2rem;
                    font-weight: 400;
                    line-height: 1.1975;
                    color: #000000;
                    font-family: Inria Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                }

        .filter-page-pjh .username-5m9 {
            margin: 0rem 0rem 4.5rem 11.2rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #1c1c1c;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
        }

</style>

